<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimWeb</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <h1>SimWeb</h1>
        <nav>
            <a asp-page="/Index">Informacje</a>
            <a asp-page="/Simulation">Symulacja</a>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>&copy;2025 Mariusz Doniec</p>
    </footer>
</body>
</html>
